<h1><% set_meta_tags :title => 'About',
                 :description => 'We provide businesses with credit lines from $500,000 to $10 million and specialize in financing the growth of importers, distributors, service prodivers, and manufacturers across a wide range of industries.',
                 :keywords => 'finance, credit line, loan, financing, business loan, lender' %>
</h1>
<div id="about_body">
	<div id="g_container">
		<img src="/assets/gg4.png" class="g" alt="Gerber Logo in Color"/>
	</div>
	<div id="about_container">
		<img src="/assets/text/about.png" class="text" alt="about"/>
		<div id="about_text">
		We provide businesses with credit lines from $500,000 to $10 million and specialize in financing
		the growth of importers, distributors, service providers, and manufacturers across a wide range of industries. Our 
		goal is your long-term success, so we help you simultaneously increase your bottom line and 
		build infrastructure to achieve enduring, profitable growth.	
		</div>
	</div>
</div>