<h1><% set_meta_tags :title => 'Asset Based Loans',
                 :description => 'Our asset-based lines of credit, provide working capital by leveraging your accounts receivable and inventory assets. We are ready to react quickly and deliver a credit line that grows with your business.',
                 :keywords => 'asset based loans, abl, abl ny, accounts receivable, ar loans, inventory loans' %>
</h1>
<div id="asset_body">
	<div id="ledger_container">
		<img src="/assets/ledger.png" class="tree" alt="ledger"/>
	</div>
	<div id="asset_container">
		<img src="/assets/text/asset.png" class="text" alt="asset based loans"/>
		<div id="asset_text">
		Our asset-based lines of credit, provide working capital by leveraging your accounts 
		receivable and inventory assets. Because we, at Gerber, are experienced in lending against 
		inventory, we can typically provide you with greater availability against 
		inventory than other asset based lenders. Greater purchasing power often leads to rapid growth
		and an expansion in your customer base. When this occurs, we are ready to react quickly and deliver a 
		credit line that grows with your business. 
		</div>
	</div>
</div>
