<h1><% set_meta_tags :title => 'Gerber Colorado',
                 :description => 'Coming Soon...',
                 :keywords => 'Gerber Colorado' %>
</h1>
<img src="/assets/text/comingsoon.gif" class="comingsoon" alt="Coming Soon">