<h1><% set_meta_tags :title => 'Credit Philosophy',
                 :description => 'Each credit facility is designed to meet the individual needs of your business, taking into account specifics such as trade cycles, seasonality, customer base and more.',
                 :keywords => 'profitabel growth, line of credit, credit, flexable credit' %>
</h1>
<div id="credit_body">
	<div id="compass_container">
		<img src="/assets/compass.gif" class="compass" alt="compass"/>
	</div>
	<div id="credit_container">
		<img src="/assets/text/credit.png" class="text" alt="credit philosophy"/>
			<div id="credit_text">
			Our primary focus is the financing of long-term profitable growth. Each credit facility 
			is designed to meet the individual needs of your business, taking into account 
			specifics such as trade cycles, seasonality, customer base and more. Although a dollar 
			amount is set for each line of credit, our size and short lines of communication allow 
			for flexibility when the need arises. 
			</div>
	</div>
<div>
