<h1><% set_meta_tags :title => 'Client Testimonials',
                 :description => 'Video testimonials from current Gerber clients',
                 :keywords => 'drew estate, schofield stone, paramount' %>
</h1>
<script type="text/javascript">
    jQuery(document).ready(function($){
        $('#video-slider').advancedSlider({width: 420,
										   height: 460,
										   scaleType: 'outsideFit',
										   skin: 'light-square',
										   effectType: 'fade',
										   slideshow:true,
										   pauseSlideshowOnHover: true,
										   leaveVideoAction: 'pauseVideo',
										   videoPlayAction: 'pauseSlideshow',
										   videoPauseAction: 'none',
										   videoEndAction: 'resetVideo',
										   shadow: true,
										   overrideTransition: false,
										   keyboardNavigation: true,
										   timerToggle: true,
										   timerStrokeColor1: '#ffffff', 
										   timerStrokeColor2: '#000000', 
										   timerStrokeOpacity1: 0.3, 
										   timerStrokeOpacity2: 0.3, 
										   timerStrokeWidth1: 6, 
										   timerStrokeWidth2: 3,
										   slideButtons: false,
										   thumbnailType: 'scroller',
										   thumbnailScrollerResponsive: true,
										   thumbnailWidth: '80',
										   thumbnailHeight: '80',
										   thumbnailArrows: false,
										   thumbnailScrollerOverlay: false,
										   thumbnailLayers:1,
										   minimumVisibleThumbnails: 9,
										   thumbnailCaptionEasing:'none',										   
										   slideArrows: false,
										   slideshowDelay: 10000,
										   slideProperties: {
												1: {effectType: 'slide', slideEasing: 'easeInOutExpo'},
												2: {effectType: 'slide', slideEasing: 'easeInOutExpo'},
												3: {effectType: 'slide', slideEasing: 'easeInOutExpo'},
												4: {effectType: 'slide', slideEasing: 'easeInOutExpo'},
												5: {effectType: 'slide', slideEasing: 'easeInOutExpo'},
												6: {effectType: 'slide', slideEasing: 'easeInOutExpo'},
												7: {effectType: 'slide', slideEasing: 'easeInOutExpo'},
												8: {effectType: 'slide', slideEasing: 'easeInOutExpo'},
												9: {effectType: 'slide', slideEasing: 'easeInOutExpo'}
												
										   }
										   });
	});
	
	
</script>


<div id="current_client_video">
<div class="advanced-slider" id="video-slider">
    <ul class="slides">
    
   	 	<li class="slide">
  			<div class="html">
    			<iframe class="video" src="https://player.vimeo.com/video/127675572?api=1&portrait=0&byline=0&autoplay=0&title=0" width="400" height="260" frameborder="0"></iframe>
  			</div>
  			<img class="thumbnail" src="/assets/video_thumbs/babygourmet.png" alt="Baby Gourmet"/>
		</li>
		
		<li class="slide">
  			<div class="html">
    			<iframe class="video" src="https://player.vimeo.com/video/126533210?api=1&portrait=0&byline=0&autoplay=0&title=0" width="400" height="260" frameborder="0"></iframe>
  			</div>
  			<img class="thumbnail" src="/assets/video_thumbs/numi.png" alt="Numi Tea"/>
		</li>
		
		<li class="slide">
  			<div class="html">
    			<iframe class="video" src="https://player.vimeo.com/video/126533209?api=1&portrait=0&byline=0&autoplay=0&title=0" width="400" height="260" frameborder="0"></iframe>
  			</div>
  			<img class="thumbnail" src="/assets/video_thumbs/revive.png" alt="Revive"/>
		</li>
		
		<li class="slide">
  			<div class="html">
    			<iframe class="video" src="https://player.vimeo.com/video/87966588?api=1&portrait=0&byline=0&autoplay=0&title=0" width="400" height="260" frameborder="0"></iframe>
  			</div>
  			<img class="thumbnail" src="/assets/video_thumbs/madelaine.png" alt="Madelaine"/>
		</li>		
		
		<li class="slide">
  			<div class="html">
    			<iframe class="video" src="https://player.vimeo.com/video/50093564?api=1&portrait=0&byline=0&autoplay=0&title=0" width="400" height="260" frameborder="0"></iframe>
  			</div>
  			<img class="thumbnail" src="/assets/video_thumbs/schofield.png" alt="Schofield"/>
		</li>
	
		<li class="slide">
  			<div class="html">
    			<iframe class="video" src="https://player.vimeo.com/video/50240566?api=1&portrait=0&byline=0&autoplay=0&title=0" width="400" height="260" frameborder="0"></iframe>
  			</div>
  			<img class="thumbnail" src="/assets/video_thumbs/drew_estate.png" alt="Drew Estates"/>
		</li>
		
		<li class="slide">
  			<div class="html">
    			<iframe class="video" src="https://player.vimeo.com/video/50243413?api=1&portrait=0&byline=0&autoplay=0&title=0" width="400" height="260" frameborder="0"></iframe>
  			</div>
  			<img class="thumbnail" src="/assets/video_thumbs/le_mystere.png" alt="Le Mystere"/>
		</li>   
		     
		<li class="slide">
  			<div class="html">
    			<iframe class="video" src="https://player.vimeo.com/video/50234182?api=1&portrait=0&byline=0&autoplay=0&title=0" width="400" height="260" frameborder="0"></iframe>
  			</div>
  			<img class="thumbnail" src="/assets/video_thumbs/ocean_potion.png" alt="Ocean Potion"/>
  		</li>	
  		
		<li class="slide">
  			<div class="html">
    			<iframe class="video" src="https://player.vimeo.com/video/50084704?api=1&portrait=0&byline=0&autoplay=0&title=0" width="400" height="260" frameborder="0"></iframe>
  			</div>
  			<img class="thumbnail" src="/assets/video_thumbs/pilgrim.png" alt="Pilgrim"/>
		</li>   
		    			
    </ul>
</div>
</div>

  			