<h1><% set_meta_tags :title => 'Gerber Finance',
    :description => 'At Gerber, we give you the tools you need to grow.  We learn your business, assess the unique nature of your credit needs, deliver expedited turnaround and provide unfailing access to our experienced management team. The result is significant and consistent growth.',
    :keywords => 'Gerber Finance, Gerber Finance Inc, finance new york, asset based lending, trade finance, loan new york, finance nyc, asset based loans, abl, Gerber' %>
</h1>

<div id="home_body">
	<div id="tree_container">
		<img src="/assets/green_tree3.gif" class="tree" alt="Tree"/>
	</div>
	<div id="home_container">
		<img src="/assets/text/welcome.png" class="text" alt="Welcome"/>
		<div id="home_text">
		At Gerber, we give you the tools you need to grow.  We learn your business, assess 
		the unique nature of your credit needs, deliver expedited turnaround and provide 
		unfailing access to our experienced management team. The result is significant 
		and consistent growth.<hr style="margin: 20px 60px 0px 40px;"><hr style="margin: 0px 60px 0px 40px;">
		<ul id="learnmorelist">
 			<ul id="newslist">
<li id="news" onclick="pauseAllVideos(); TINY.box.show({iframe:'/assets/numitea_news.png',boxid:'blackmask',width:673,height:550,fixed:false,maskid:'bluemask',maskopacity:40,closejs:function(){closeJS()}})"><a class="news"></a></li> 
 			</ul>
		</div>
		
	</div>
</div>

