<h1><% set_meta_tags :title => 'History',
                 :description => 'Founded in 1995 by Gerald Joseph, Gerber Finance is the product of a joint venture between Investec, a member of the London Stock Exchange and the Gerber Goldschmidt Group, a leading international trading and investment company since 1920.',
                 :keywords => 'gerber finance, gerber trade finance, investec, gerber goldschmidt group, gerald joseph' %>
</h1>
<div id="history_body">
	<div id="globe_container">
		<img src="/assets/globe.png" class="globe" alt="globe"/>
	</div>
	<div id="history_container">
		<img src="/assets/text/history.png" class="text" alt="history"/>
		<div id="history_text">
			Founded in 1995 by Gerald Joseph, Gerber Finance is the product of a joint venture between 
			<a href ="http://www.investec.co.za/"  target="_blank" style="border:none;"><img src="/assets/investec.png" alt="Investec" class="investec"></a>, a member of the London Stock Exchange and the 
			<a href="http://www.gerber.co.za/"  target="_blank" style="border:none;"><img src="/assets/ggg.png" alt="Gerber Goldschmidt Group" class="ggg"></a>, a leading international trading 
			and investment company since 1920.
		</div>
	</div>
</div>

