<div id="numi_body">

<style>
	.embed-container { 
		position: relative; 
		padding-bottom: 51%; 
		height: 0; 
		overflow: hidden; 
		max-width: 92.5%; 
		} 
	
	.embed-container iframe, 
	.embed-container object, 
	.embed-container embed { 
		position: absolute; 
		top: 0; 
		left: 0; 
		width: 78%; 
		height: 80%; }
</style>

<div class='embed-container'>
	<iframe src='http://player.vimeo.com/video/126533210?autoplay=1' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen>
	</iframe>
</div>
</div>