<h1><% set_meta_tags :title => 'Prior Client Testimonials',
                 :description => 'Video testimonials from prior Gerber clients',
                 :keywords => 'le mystere, thro, ocean potion' %>
</h1>
<script type="text/javascript">
    jQuery(document).ready(function($){
        $('#video-slider').advancedSlider({width: 420,
										   height: 460,
										   scaleType: 'outsideFit',
										   skin: 'light-square',
										   effectType: 'fade',
										   pauseSlideshowOnHover: true,
										   leaveVideoAction: 'pauseVideo',
										   videoPlayAction: 'pauseSlideshow',
										   shadow: true,
										   overrideTransition: false,
										   keyboardNavigation: true,
										   timerToggle: true,
										   timerStrokeColor1: '#ffffff', 
										   timerStrokeColor2: '#000000', 
										   timerStrokeOpacity1: 0.3, 
										   timerStrokeOpacity2: 0.3, 
										   timerStrokeWidth1: 6, 
										   timerStrokeWidth2: 3,
										   slideButtons: false,
										   thumbnailType: 'scroller',
										   thumbnailButtons: true,
										   thumbnailScrollerResponsive: true,
										   thumbnailWidth: '80',
										   thumbnailHeight: '80',
										   thumbnailArrows: false,
										   minimumVisibleThumbnails: 3,
										   thumbnailCaptionEasing:'none',										   									   
										   slideArrows: false,
										   slideshowDelay: 10000,
										   slideProperties: {
												1: {effectType: 'slide', slideEasing: 'easeInOutExpo'},
												2: {effectType: 'slide', slideEasing: 'easeInOutExpo'},
												3: {effectType: 'slide', slideEasing: 'easeInOutExpo'},
								
										   }
										   });
	});
</script>



<div id="current_client_video">
<div class="advanced-slider" id="video-slider">
    <ul class="slides">
         
        <li class="slide">
  			<div class="html">
    			<iframe class="video" src="http://player.vimeo.com/video/50243413?api=1&portrait=0&byline=0&autoplay=0&title=0" width="400" height="260" frameborder="0"></iframe>
  			</div>
  			<img class="thumbnail" src="/assets/video_thumbs/le_mystere.png" alt="Le Mystere"/>
		</li>        
		<li class="slide">
  			<div class="html">
    			<iframe class="video" src="http://player.vimeo.com/video/50234182?api=1&portrait=0&byline=0&autoplay=0&title=0" width="400" height="260" frameborder="0"></iframe>
  			</div>
  			<img class="thumbnail" src="/assets/video_thumbs/ocean_potion.png" alt="Ocean Potion"/>
		</li>		
    </ul>
</div>
</div>
     
  			