<h1><% set_meta_tags :title => 'Profiles',
                 :description => 'The faces behind Gerber Finance Inc.',
                 :keywords => 'Gerald Joseph, Vadim Toyberman, Jennifer Palmer, Elana Goynatsky, Entela Semini, Barry Joseph, Michael Friedman' %>
</h1>

<div id="profiles">
<section class="tabs">
	            <input id="tab-1" type="radio" name="radio-set" class="tab-selector-1" checked="checked" />
		        <label for="tab-1" class="tab-label-1">Gerald Joseph</label>
		
	            <input id="tab-2" type="radio" name="radio-set" class="tab-selector-2" />
		        <label for="tab-2" class="tab-label-2">Jennifer Palmer</label>
		
	                  
		        <input id="tab-3" type="radio" name="radio-set" class="tab-selector-3" />
		        <label for="tab-3" class="tab-label-4">Entela Semini</label>
		        
		        <input id="tab-4" type="radio" name="radio-set" class="tab-selector-4" />
		        <label for="tab-4" class="tab-label-5">Elena Goynatsky</label>
		        
		        <input id="tab-5" type="radio" name="radio-set" class="tab-selector-5" />
		        <label for="tab-5" class="tab-label-5">Barry Joseph</label>
		        
		        <input id="tab-6" type="radio" name="radio-set" class="tab-selector-6" />
		        <label for="tab-6" class="tab-label-6">Michael Friedman</label>
            
			    <div class="clear-shadow"></div>
				
		        <div class="content">
			        <div class="content-1">
						<table class="profile_table">
						<td>
                        	<img src="/assets/gerald.png" class="profile" alt="Gerald Joseph" style="margin-top:15px;"/>
        				</td>
        				<td>
        					<h3>Gerald Joseph</h3>
        					<p class="title">Chief Executive Officer</p>
              				<p class="profile">A Chartered Accountant educated at the University of Cape Town in South Africa.  After a stint in the apparel industry, he joined the Gerber Goldschmidt Group in 1982 eventually becoming the CEO of Gerber Goldschmidt Finance, their trade finance arm.  Moved to the US in 1994 and founded Gerber Finance shortly thereafter.  He sits on a number of boards as non-executive director and shareholder representative.</p>
							<p class="contact"><b>contact: </b><a href="tel:212-888-1855" class="profile">(212) 888-1855</a>&nbsp;/&nbsp;<a href="mailto:gjoseph@gerberfinance.com" class="profile">email</a><p>
						</td>
						</table>				    
				    </div>
			        <div class="content-2">
						<table>
						<td>
							
							<img src="/assets/jennifer.png" class="profile" alt="Jennifer Palmer" style="margin-top:15px;"/>
                        </td>
                        <td>
                        	<h3>Jennifer Palmer</h2>
                        	<p class="title">President</p>
              				<p class="profile">As President, Jennifer is responsible for cultivating new relationships with companies that would benefit from financing with Gerber. As In-House Counsel, Jennifer is able to streamline the documentation process while reducing clients’ costs. Jennifer holds a JD from Fordham Law and a BA from Marist College. She is active in the industry serving on various committees including the Board of Directors of the Commercial Finance Association.</p> 
              				<p class="contact"><b>contact: </b><a href="tel:212-888-1533">(212) 888-1533</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a href="mailto:jpalmer@gerberfinance.com">email</a><p>
          				</td>
         				</table>
         			</div>
              		<div class="content-3">
						<table>
						<td>
							
							<img src="/assets/entela.png" class="profile" alt="Entela Semini" style="margin-top:5px;"/>
	              		</td>
	              		<td>	
	              			<h3>Entela Semini</h3>
	              			<p class="title">Vice President</p>
              				<p class="profile">Raised in Tirana, Albania, Entela came to the US as an exchange student in 1999. She obtained her BA in Finance from Pace University and joined Gerber Finance in 2006. Entela interfaces on a daily basis with clients dealing with the collateral and financial reporting, borrowing bases, cash flows and ensuring that the system of funding the portfolio is efficient and uncomplicated. Entela is also responsible for managing part of the Gerber portfolio in the capacity of Account Executive.</p>    
              				<p class="contact"><b>contact: </b><a href="tel:212-888-1536">(212) 888-1536</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a href="mailto:esemini@gerberfinance.com">email</a><p>         	
              			</td>
              			</table>
              		</div>
              		<div class="content-4">
						<table>
						<td>
							
							<img src="/assets/elena.png" class="profile" alt="Elena Goynatsky" style="margin-top:5px;"/>
	              		</td>
	              		<td>	
	              			<h3>Elena Goynatsky</h3>
	              			<p class="title">Senior Vice President</p>
              				<p class="profile">As Senior Vice President of Marketing, Elena is responsible for originating, analyzing and structuring a wide variety of transactions. Elena’s extensive experience in marketing and credit provides her with a unique perspective allowing her to meet the client’s needs. Prior to joining Gerber Finance in 2008, she worked at Wells Fargo and Bank Leumi. She holds a BA in Finance from Baruch College and a BS in Math from Ukrainian State University.</p>    
              				<p class="contact"><b>contact: </b><a href="tel:212-888-1570">(212) 888-1570</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a href="mailto:egoynatsky@gerberfinance.com">email</a><p>         	
              			</td>
              			</table>
              		</div>
              		<div class="content-5">
						<table>
						<td>
							
							<img src="/assets/barry.png" class="profile" alt="Barry Joseph" style="margin-top:5px;"/>
	              		</td>
	              		<td>	
	              			<h3>Barry Joseph</h3>
	              			<p class="title">Vice President</p>
              				<p class="profile">As Vice President, Barry is responsible for developing new relationships with industry partners to find the right financing solution for each company's needs. Barry holds a BS in Finance and a BA in Economics from American University. Prior to joining Gerber he worked for 7 years in multiple areas of the Federal Reserve System.</p>    
              				<p class="contact"><b>contact: </b><a href="tel:212-888-1554">(212) 888-1554</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a href="mailto:bjoseph@gerberfinance.com">email</a><p>         	
              			</td>
              			</table>
		        </div>
              		
              		<div class="content-6">
						<table>
						<td>
							
							<img src="/assets/michael.png" class="profile" alt="Michael Friedman" style="margin-top:5px;"/>
	              		</td>
	              		<td>	
	              			<h3>Michael Friedman</h3>
	              			<p class="title">Vice President</p>
              				<p class="profile">Born, raised and trained in entrepreneurism, Michael received his degree in Entrepreneurial Management and Accounting from the Wharton School of Business at the University of Pennsylvania. He returned to Providence RI after school to take various executive positions in his family’s manufacturing, distribution and finance businesses. Following a successful divestiture of the operating assets, he joined Gerber Finance to expand the firm’s markets within New England. Michael serves on many boards and committees, including as a Member of the Corporation of Johnson & Wales University.</p>    
              				<p class="contact"><b>contact: </b><a href="tel:401-519-3715">(401) 519-3715</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a href="mailto:mfriedman@gerberfinance.com">email</a><p>         	
              			</td>
              			</table>
		        </div>
			</section>
        </div>
