<!DOCTYPE html>
<html>
<head>
<style type="text/css">

body {
	font-family: "futura-pt",Futura,"Futura",sans-serif;}

.header_update {
	background-color: #000;
	padding:40px 40px 20px 40px;}

img.gerberfinance_update {
	
	display:inline;
	margin: 10px 0px 0px 30px;}	

img.logo_update {
	float: right;
	display:inline;
	height:120px;
	width:120px;
	margin: -30px 70px 0px 90px;}

p.h1_update {
	margin:5px 0px 0px 34px;
	color:#fff;
	font-size: 20px;}

body_update {
	background: #fff;}

p.h2_update {
	padding: 0px 70px;
	color:#000;
	text-align:center;
	font-size:30px;
	font-weight:bold;}

p.h3_update {
	padding: 0px 70px 10px 70px;
	color:#888888;
	text-align:center;
	font-size:24px;}

p.p_update {
	padding: 5px 160px;
	text-align:center;
	color:#000;
	text-align:center;
	font-size:16px;
	font-weight:bold;
	line-height:18px;}

.images_update {
	 text-align: center;}

img.product{
	display: inline-block;
    width: 160px;
    height: 160px;
    background: #ccc;
    margin: 5px;
	height:160px;
	width:160px;}

p.p_quote_update {
	padding:20px 70px 0px 70px;
	text-align:center;
	font-size:20px;
	font-style:italic;
	line-height:25px;}

p.p_quoted_update {
	text-align:right;
	font-size:20px;
	padding:0px 100px 30px 0px;
	font-weight:bold;}

.footer_update {
	background: #000;
	color:#C0C0C0;
	text-align:center;
	font-size:20px;}

p.p_footer_update {
	padding:20px;}
	
b.bold_update {
	color:#fff;
	font-size:24px;
	font-weight:normal;}
	
a.update {
	color:#fff;}
	
hr.update {
	background-color:#80cd29;
	height:10px;
	border:0px;}

</style>
</head>
<div class="header_update">
<body>
<span> 
	<img src="/assets/gerberfinance.png" class="gerberfinance_update" alt="Gerber Finance Inc." />
	<a href='/gerber'><img src="/assets/Logo.png" class="logo_update" alt="Gerber Finance Inc." /></a>
	<br>
	<p class="h1_update">It is our goal to build great things together</h2>
</span>
</div>

<div class="body_update">
	
	<p class="h2_update">Gerber Finance Inc. is pleased to announce the funding of a $4 million line of credit to Revive Personal Products.</p>
	<hr class="update">
	<p class="h3_update"> Revive is a leading company providing personal care products offering compelling options for people who care about their health, their happiness and their individualism. Revive takes personal wellness seriously &#8722; uniquely combining innovation and expertise within every brand offered.</h3>
	<span>
		<p class="p_update">The Natural Dentist was created by a dentist determined to offer patients uniquely powerful mouth rinses and toothpastes that were natural, effective and safe to use. Today, our company continues to expand on that original vision by offering products that provide families with an effective, great-tasting, natural oral care experience.<p>
	</span>
	
	<div class="images_update">
		<img class="product" src="/assets/updates/naturaldentist.jpeg">
		<img class="product" src="/assets/updates/logo-med.jpeg">
		<img class="product" src="/assets/updates/cavityzapper.jpeg">
	
	</div>
	
	<span>
		<p class="p_quote_update">&ldquo;I know the Gerber team is going to help me take my company to the next level. Our hope is to revive the way people think about personal wellness. With some of the most trusted brands in healthcare, we are a company that is passionate about our products and the solutions they offer you. The Natural Dentist offers answers to everyday needs, helping you improve your health &#8722; and expand your healthy outlook.
I feel confident that Gerber is the right fit for my companies growing needs&rdquo;</p>
		<p class="p_quoted_update">Michael Lesser<br>CEO-Revive</p>
	</span>
</div>

<div class="footer_update">
	<span> 
		<hr class="update">
		<p class="p_footer_update">To learn more about how <b class="bold_update">Gerber</b> can help you build your business, <br>please call us at <b class="bold_update"><a class="update" href="callto:2128883833">(212) 888-3833</a></b> or visit us at <b class="bold_update"><a class="update" href="http://www.gerberfinance.com">www.gerberfinance.com</a></b>
	</span>
</div>
</body>
</html>
