
<!DOCTYPE html>
<html>
<head>

<h1><% set_meta_tags :title => 'Gerber in a Flash',
                 :description => 'Top things you can do (and avoid) to secure a line of credit for your growing business',
                 :keywords => 'abl loans, asset based loans, interview with a lender' %>
</h1>
<!--[if gte IE 5]>
      <link rel="stylesheet" type="text/css" href="/assets/text/ie_style.css" />
	<![endif]-->
<link href="/assets/all/layout/stylesheet.css.scss?body=1" media="all" rel="stylesheet" type="text/css" />
<link href="/assets/all/layout/drop_down.css?body=1" media="all" rel="stylesheet" type="text/css" />
<link href="/assets/all/layout/footer.css?body=1" media="all" rel="stylesheet" type="text/css" />
<link href="/assets/all/layout/profile.css?body=1" media="all" rel="stylesheet" type="text/css" />
<link href="/assets/all/models/calc.css?body=1" media="all" rel="stylesheet" type="text/css" />
<link href="/assets/all/models/contact.css.scss?body=1" media="all" rel="stylesheet" type="text/css" />
<link href="/assets/all/models/gear.css?body=1" media="all" rel="stylesheet" type="text/css" />
<link href="/assets/all/models/model.css?body=1" media="all" rel="stylesheet" type="text/css" />
<link href="/assets/application-print.css?body=1" media="print" rel="stylesheet" type="text/css" />
<link href="/assets/print/blueprint/print.css?body=1" media="print" rel="stylesheet" type="text/css" />
<link href="/assets/print/print_stylesheet.css?body=1" media="print" rel="stylesheet" type="text/css" />
<link href="/assets/application-handheld.css?body=1" media="handheld" rel="stylesheet" type="text/css" />
<link href="/assets/handheld/blueprint/handheld.css?body=1" media="handheld" rel="stylesheet" type="text/css" />
<link href="/assets/handheld/handheld.css?body=1" media="handheld" rel="stylesheet" type="text/css" />
<script src="/assets/jquery.js?body=1" type="text/javascript"></script>
<script src="/assets/all/packed.js?body=1" type="text/javascript"></script>
<script src="/assets/all/static_pages.js?body=1" type="text/javascript"></script>
<script src="/assets/all/tinybox.js?body=1" type="text/javascript"></script>
<script src="/assets/all/vimeo_fix.js?body=1" type="text/javascript"></script>
<meta content="authenticity_token" name="csrf-param" />
<meta content="1hKfo11LHCit8zIUYYTAwfr1mRxczDsTqWNvItm7FJ0=" name="csrf-token" />
<script src="http://a.vimeocdn.com/js/froogaloop2.min.js" type="text/javascript"></script>
<style type="text/css">
#hello { display: none };
</style>
<script>
$(function(){
var iframe = $('#flash')[0],
    player = $f(iframe);

    player.addEvent('ready', function(){
        player.addEvent('finish', function (e) {
            console.log(e);
            $('#hello').show();
        });
    });
});
</script>
<!--[if gte IE 5]>

<link href="/assets/application-ie.css?body=1" media="all" rel="stylesheet" type="text/css" />
<link href="/assets/ie/blue_print/ie.css?body=1" media="all" rel="stylesheet" type="text/css" />
<link href="/assets/ie/ie_hacks.css?body=1" media="all" rel="stylesheet" type="text/css" />

<![endif]-->


</head>
<body style="background:#fff;">
<iframe id="flash" style="margin-left:10px;" src="http://player.vimeo.com/video/50234176?api=1&amp&portrait=0&byline=0&autoplay=1&title=0&player_id=flash" width="760" height="460" frameborder="0"></iframe>
<div id="hello" style="margin-top:10px;">
	<span>
			<a href="/paramount" style="margin-left:110px; margin-right:80px;"><img src="assets/video_thumbs/paramount.png"></a>
			<a href="/drewestate" style="margin-right:80px;"><img src="../assets/video_thumbs/drew_estate.png"></a>
			<a href="/pilgrim"style="margin-right:80px;"><img src="../assets/video_thumbs/pilgrim.png"></a>
			<a href="/schofield" style="margin-right:80px;"><img src="../assets/video_thumbs/schofield.png"></a>
	</span>
</div>

</body>
</html>
